/*
color

#ffdff1

*/
:root {
  --pink: #fbdcea;
  --violet: #dbd9ff;
  --blue: #7e9ae6;
  --green: #73dce6;
  --lime: #cff5f4;
  --cream: #f9f1f0;
}

body {
  background-color: var(--pink);
  margin: 0;
  padding: 0;
}
