@import url("../css/general.css");

.mainHomePage {
  position: relative;

  background: url("/imgs/ghibliBackground.png") no-repeat fixed;
  background-size: cover;
  background-color: var(--pink);

  width: 100vw;
  height: 100vh;
}

.mainHomePage .mainHomePage-Overlay {
  position: absolute;
  z-index: 2;

  background-color: var(--pink);

  opacity: 0.6;

  width: 100%;
  height: 100%;
}

.secondHomePage {
  background-color: var(--violet);

  height: 100vh;
}
