.Messages {
  display: grid;
  grid-template-rows: 1fr 1fr;

  padding: 2vw;

  height: calc(100vh - var(--topBarMenu));
  /* background-color: lightblue; */

  /* background-color: lightcoral; */
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 1vw;

  height: 45vh;

  background-color: var(--secondary);

  border-radius: 20px;

  -webkit-box-shadow: 6px 6px 12px -3px var(--text);
  -moz-box-shadow: 6px 6px 12px -3px var(--text);
  box-shadow: 6px 6px 12px -3px var(--text);
}

.textContainer {
  /* background-color: lightcoral; */
  overflow-y: scroll;
  height: 85%;

  margin: 10vh 1vw;
  padding: 0 3vw;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.textContainer::-webkit-scrollbar {
  display: none;
}

.textContainer p {
  font-size: 0.9em;
  text-align: center;
  /* margin: 5vw; */

  /* color: var(--text); */

  cursor: pointer;
}

.content img {
  /* background-color: lightgreen; */

  margin: 1vw;
  margin-left: 4vw;

  aspect-ratio: 0.75/1;
  width: 35vw;
  border-radius: 20px;
}
