/*
color

#ffdff1

*/
:root {
  --pink: #fbdcea;
  --violet: #dbd9ff;
  --blue: #7e9ae6;
  --green: #73dce6;
  --lime: #cff5f4;
  --cream: #f9f1f0;

  /* secondary Colors */

  --lightPink: #f2d0d0;
  --red: #f16052;
  --pinky: #f39188;
  --black: #594a4a;
  --white: #f4e8da;

  --topBarHeight: 7vh;
}

body {
  font-family: Lora;

  background-color: var(--pinky);
  color: var(--red);

  margin: 0;
  padding: 0;

  overflow: hidden;
  scroll-behavior: smooth;
}

.page {
  overflow: scroll; /* Add the ability to scroll */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  height: 100vh;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.page::-webkit-scrollbar {
  display: none;
}

/* new index */

.homePageContainer {
  position: relative;

  background-color: var(--white);
  overflow: scroll; /* Add the ability to scroll */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  scroll-snap-align: center;

  height: 100vh;
}

.homePageContainer::-webkit-scrollbar {
  display: none;
}

/* topbar */

.homePageContainer .topBarMenu {
  /* position: absolute; */
  position: fixed;
  right: 0;
  z-index: 10;

  height: var(--topBarHeight);
  width: 90vw;
}

.topBarMenu {
  display: flex;
  justify-content: end;
  align-items: center;

  /* background-color: lightblue; */
  margin: 0 5vw;

  border-bottom: 2px solid var(--red);
}

.topBarMenu button {
  font-family: Lora;
  font-size: 12px;
  color: var(--black);

  background-color: #ffffff00;
  padding: 5px 20px;
  margin: 0 1vw;

  border: none;
  box-shadow: none;
  border-radius: 1px;

  cursor: pointer;
}
