.home {
  display: grid;
  grid-template-columns: 1fr 1fr;

  height: 100vh;
  background-color: var(--white);
  scroll-snap-align: center;
}

/* home left side */

.home .homeLeftContainer {
  display: grid;
  grid-template-rows: 1fr 5fr 5fr;

  /* background-color: lightblue; */
}

.homeLeftContainer .homeHeader {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;

  margin-left: 7vw;

  /* background-color: blanchedalmond; */
}

.homeLeftContainer .headerImage img {
  /* z-index: -1; */

  height: 7vh;

  margin-left: 2vw;
}

.homeLeftContainer .homeHeader h1 {
  /* background-color: blue; */
  font-size: 5em;
  color: var(--red);

  margin: 0;
}

.homeLeftContainer .homeHeader h2 {
  /* background-color: brown; */
  font-size: 2.5em;
  font-weight: 200;
  color: var(--black);

  margin: 0;
}

.homeLeftContainer .paperPlainImage {
  /* background-color: aqua; */
}

.homeLeftContainer .paperPlainImage img {
  position: absolute;
  width: 55vw;

  margin-left: -3vw;
}

/* home right side */

.home .homeRightContainer {
  position: relative;

  /* background-color: lightcoral; */
}

.homeRightContainer .image img {
  position: absolute;
  height: 75vh;

  top: 52%;
  left: 48%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  cursor: pointer;
}

.homeRightContainer .box {
  position: absolute;

  /* background-color: lightcyan; */
  border: 3px solid var(--red);

  height: 75vh;
  aspect-ratio: 0.75/1;

  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  pointer-events: none;
}
