.message {
  display: grid;
  grid-template-rows: 1fr 1fr;

  background-color: aliceblue;

  height: calc(100vh - var(--topBarHeight));
  margin-top: var(--topBarHeight);
}

.her {
  background-color: lightblue;
}

.him {
  background-color: lightcoral;
}
