:root {
  --radius: 1.5vw;
}

.header {
  width: 100%;
  position: relative;
}
.header .happyValentine {
  font-family: Great Vibes;
  color: #0e172c;
  font-size: 2em;
  letter-spacing: 3px;
  text-align: center;
  margin: 0;
  margin-top: 19px;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
}

.buttonContainer .buttonPage {
  background: none;
  border: none;
  font-family: Great Vibes;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 5px;
}

.imgContainer {
  display: flex;
  position: relative;
  justify-content: center;
}

.imgContainer .imgs {
  position: relative;
  display: flex;
  height: 55vh;
  width: clamp(80vw, 30%, 90vw);
  margin: 5vh;
  margin-top: 14vh;
  border-radius: 2vw;
}

.imgContainer .imgs .imgBox {
  display: flex;
  overflow-x: scroll;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: var(--radius);
  box-shadow: inset 2px 2px 3px gray;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.imgContainer .imgs .imgBox::-webkit-scrollbar {
  display: none;
}

.imgContainer .imgs .imgBox .portraitOrientation {
  height: 85%;
  border-radius: 1.2vw;
}

.imgContainer .buttonScrollL {
  position: absolute;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(241, 241, 241, 1) 0%,
    rgba(241, 241, 241, 0.7357142686176033) 48%,
    rgba(241, 241, 241, 0) 100%
  );
  height: 100%;
  width: clamp(20px, 4.5vw, 40px);
  border: none;
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  cursor: pointer;
}
.imgContainer .buttonScrollL img {
  width: clamp(10px, 2vw, 15px);
}

.imgContainer .buttonScrollR {
  position: absolute;
  right: 0;
  background: linear-gradient(
    270deg,
    rgba(241, 241, 241, 1) 0%,
    rgba(241, 241, 241, 0.7357142686176033) 48%,
    rgba(241, 241, 241, 0) 100%
  );
  height: 100%;
  width: clamp(20px, 4.5vw, 40px);
  border: none;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  cursor: pointer;
}
.imgContainer .buttonScrollR img {
  width: clamp(10px, 2vw, 15px);
}

.author {
  position: relative;
  display: flex;
  justify-content: space-between;

  margin-right: 35px;
  margin-left: 35px;
}

.author p {
  display: flex;

  font-family: Great Vibes;
  font-size: 1.2em;

  color: #0e172c;
}

.dividers {
  border-top: 0.8px #a786df;
  border-color: #a786df;
  margin: 7.5px 20px;
}

.backgroundCircle {
  position: absolute;
  z-index: -1;
  bottom: clamp(-100px, -12%, 150px);
  right: clamp(-300px, -12%, -250px);
  height: clamp(20px, 90vh, 1000px);
  width: clamp(20px, 90vh, 1000px);
  background-color: #a786df;
  border-radius: 50%;
}
