.TopMenu {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  z-index: 5;
  background-color: var(--background);
  height: var(--topBarMenu);
  width: 100vw;
  border-bottom: 2px solid var(--secondary);
}

.TopMenu img {
  height: 6vh;

  margin-left: 1vw;
}
